---
interface Props {
  rol: string
  company: string
  location: string
  activities: string
  initial_date: string
  end_date: string | null
  duration: string
}

const { rol, company, location, activities, initial_date, end_date, duration } = Astro.props
const endDateFormatted = end_date ?? 'actualidad';
---

<div class="relative mx-12 pb-12 grid max-w-5xl before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20  before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-sky-400 -left-[42px] absolute rounded-full text-5xl">&bull;</span>
      <h3 class="text-xl font-semibold text-sky-400">{rol}</h3>
      <h4 class="font-semibold text-xl text-gray-600">{company} [{location}]</h4>
      <time class="p-0 m-0 text-sm text-gray-600/80">{initial_date} - {endDateFormatted}</time>
      <time class="p-0 m-0 text-sm text-sky-400/80"> · {duration}</time>
    </div>
  </div>
  <div class="relative flex flex-col gap-2 pb-4 text-gray-600 md:col-span-3">
    {activities}
  </div>
</div>